include mixins/_mixins

doctype html
html(lang="ru-RU")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        block title
            title Главная страничка

        link(rel="shortcut icon" href="./img/favicon.png")

        link(rel="stylesheet" type='text/css' href="./css/foundation.css")
        link(rel="stylesheet" type='text/css' href="./css/main.css")

    body
        .wrapper
            include modules/header

            block content

        include modules/footer


        script(src="./javaScript/foundation.js")
        script(src="./javaScript/main.js")
        block script